@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
  } 
  body{
    margin: 0 auto;
  }
  /* Shared style */
  .fit{ 
    background-color: rgba(17, 17, 17, 1);
 }
 *{
   
  color: rgb(255, 255, 255);
}
.display{
  display: flex;
}
  .display-flex ,.navbar{
    display: flex;
    justify-content: space-between;
  }
  .banner{
    
    background: linear-gradient(180.00deg, rgb(17, 17, 17),
    rgba(119, 119, 119, 10) 230%);
    max-height:715px ;
    margin: 0 auto;
  }
  .btn{
    border: none;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    padding: 16px  40px;
  }
  .small{
    color: rgba(255, 255, 255, 0.5);
     font-size: 1rem;
  }
  .card-txt{
    font-size: 2.5rem;
    color: rgb(255, 255, 255);
  }
  /* navbar */
  .nav-home{
    border-radius: 46px;
    background: rgb(230, 83, 60);
    padding: 5px 20px 5px 20px;
  }
  .nav{
    max-width: 100%;
    margin: 0 auto;
    align-items: center;
     padding : 0 100px;
     
  }
  .nav-link{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-weight: 400;
    
    
    }  
  .nav-item{
    list-style: none;
    margin-right: 47px;
    
  }
  .navbar{

    border: 1px solid rgba(255, 255, 255, 0.1); 
    border-radius: 39px; 
    justify-content: center;
    align-items: center;
    padding: 8px 0;
    padding-left: 5px;
  }
  .nav-head{
    color: rgb(230, 83, 60);
font-family: Inter;
font-size: 2rem;
font-weight: 800;
}
  /* banner */
  @font-face{
  font-family: Miama;
    src:url(./images/Miama.ttf);
  }
  .shape{
    font-family: Miama;
    font-size: 6rem;
  }
  .ban{
      max-width: 450px;
      padding-left: 100px;
   }
   .ban-img{
    position: relative;
    padding-top: 30px;
    padding-right: 130px;
    max-height: 95%;
   }
   .ban-card1{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px; 
    background: rgba(48, 48, 48, 0.54); 
    position: absolute;
    top: 42%;
    left: 83%;
    width: 193px;
    height: 98px;
  }
 
.ban-card2{
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px; 
  background: rgba(48, 48, 48, 0.54); 
  width: 206px;
  height: 90px;
  position: absolute;  
    top: 80%;
    left: 60%;
}
.circle{
  background-color: tomato;
  width: 35px;
  height: 35px;
  position: absolute;
  border-radius:100%;
  top: 82%;
  left: 60.55%;
  
}
   .ban-contain{
    display: flex;
    justify-content: space-between;
   }
.ban-head{
  color: rgb(255, 255, 255);
font-size: 4.5rem;
 font-weight: 900;
}
.ban-dis{
    color: rgba(255, 255, 255, 0.5);
font-size: 1.1rem;
font-weight: 400;
 }
 .btn-1{
color: rgb(255, 255, 255);
 font-size: 1rem;
font-weight: 600;
 }
 .btn-2{
  border: 1px solid rgb(255, 255, 255);
  border-radius: 42px;
  background-color: black;
  padding: 16px  40px;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 600;
}
/* Habit */
.habit-head{
  color: rgb(255, 255, 255);
  font-size: 2.5rem;
}
.habit-title{
  text-align: center;
  padding-bottom: 50px;
  padding-top: 100px;
}
.habit-card{
  justify-content: space-evenly;
}
.habit-img{
  border-radius:50%;
  padding-bottom: 10px;
}
.habit1,.habit2,.habit3,.habit4{
  /* max-width: 231px;
  max-height: 274px; */
  text-align: center;
  /* padding: 0 90px; */
}

.habit-para{
  max-width: 231px;
  text-align: center;
}
/* Run */
.run{
  color: rgba(255, 255, 255, 1);
  display: flex; 
  /* height: 450px;   */
  border-radius: 18px;
  background: rgb(34, 34, 34); 
  align-items:center ; 
  justify-content: space-between;
  max-width: 1300px;
 margin: 0 auto;
  margin-top: 90px;
  padding: 0 10px;
  /* max-width: 1060px; */
height: 371px;
}
.run-img{
  width: 366px;
  height: 312px;
  padding-right: 80px;
}
.run-head{
  font-size: 3.5rem;
  color: rgb(255, 255, 255);
}
.run-txt{
  width: 443px;
  height: 290px;    
  padding-left: 80px;
  padding-bottom: 100px;
}
.run-btn{
  background-color: rgb(230, 83, 60);
  color: rgb(255, 255, 255);  
  border-radius: 39px; 
  border-color: rgb(230, 83, 60);
  width: 224px;
  height: 54px;
  font-size: 1.125rem;
}
/* Bmi */
.bmi-title{
  text-align: center;
}

.bmi{
  padding-top: 88px;
}
.BMI{
  background: rgb(34, 34, 34);
  text-align: center;
  justify-content: center;  
  margin: 0 auto;
  width: 100%;
  height: 410px;
  gap: 170px;  
  padding-top: 30px;
  padding-bottom: 10px; 
}
.CAL{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 10px;
}
td{
  padding: 20px;
  align-items: start;
  
}
.bmi-cal{ 
  width: 518px;
  height: 370px;   
} 
.bmi-tab{
  height: 370px; 
  
}
.row{
  grid-column: span 2/3; 
} 
.bmi-table  {
  max-width: 450px;
  height: 216px;

}
input{ 
  border-radius: 8px; 
  background: rgba(255, 255, 255, 0.1);
  border-color:  rgba(255, 255, 255, 0.1);
  color:rgba(255, 255, 255, 0.6); 
  padding: 12px 40px 12px 20px;
  font-size: 1rem; 
}
.cal-btn{
  width: 224px;
  height: 54px;
  margin-top: 15px;
  font-size: 1.125rem ;
}
/* Footer */
footer{
  background: rgba(255, 255, 255, 0.1);
  align-items: center; 
 height: 100%; 
 width: 100%;
 justify-content: space-around;
 max-width: 1520px;
 height: 264px;
 margin: 0 auto;
  
}
 .ul{
  font-size:1rem ; 
  color: rgba(255, 255, 255, 0.5);
}
.fot1{
  width: 443px;
  height: 176px;
  gap: 20;   
}

.last{
  max-width: 1300px;
 margin: 0 auto;
 display: flex; 
 border-bottom: 2px solid rgba(255, 255, 255, 0.6) ;
justify-content: center;
 gap : 40px;
}
.cpy{
  text-align: center;
  color: rgba(255, 255, 255, 0.5)
}
.fot-head{
  font-size: 3rem;
}
/* media query */
@media screen and (max-width: 576px) {
  .navbar{
    display: none;
  }
  .nav,.ban,.ban-img{
    padding: 0px;
    padding-left: 20px;
  }
  .ban-contain,.last{
    flex-direction: column;
  }
.banner{
  max-height:1400px ;
}
.ban-head{
  max-width: 416px;
}
.ban{
   max-width:576px;
  padding-right: 67px;
  font-size:1.2rem;
}
 
.ban-img{
  max-width: 353px;
}
 .btn-12{
  text-align: center;
}
.ban-card1{
 top: 107%;
  left: 55%;
}
.ban-card2{
  top: 140%;
   left: 15%;
 }
 .ban-card1,.ban-card2{
  width: 145.91px;
  height: 74.09px;
 }
 .circle{
  top: 141%;
  left: 16%;
  width: 25px;
height: 25px;
}
.card-txt{
  font-size: 1.89rem;
}
.small{
   font-size: 0.90rem;
}
.banner-cont{
  text-align: center;
   padding-left: 5px;
}
.habit,.habit-card{
  flex-direction: column;
  align-items: center;
}
.para1{
  max-width: 247px;
  padding-left: 155px;
}
 
.run{
  flex-direction: column;
    
    width: 353px;
    height: 650px; 
    padding: 0 10px;
  }
  .run-img{
    width: 290px;
    height: 170px;
    padding-left: 78px;
    padding-bottom: 20px;
 }
 .run-txt{
  width: 287px;
  height: 76px; 
  padding-left: 10px;
  
}
.run-btn{ 
  width: 287px;
  height: 54px;
}
.BMI{
  flex-direction: column;
  width: 350px;
  height: 845px;
  padding-left: 20px;
  gap: 5px; 
 }
 .bmi-cal{
  width: 260px;
  
 }
 .bmi-btn{
  width: 224px;
  height: 54px;
 }
 .row{
  width: 325px;
   height: 23px; 
 }
 td{
  padding: 15px;

}
input{
  width: 150px;
  height: 20px;
  padding: 5px;
  gap: 0px;
   
 }
 footer{ 
  padding-left: 20px; 
  width: 100%;  
  height: 745px;
  max-width: 538px;
  
 } 
 .last{
  max-width: 519px;
  padding-left: 5px;
  gap: 0px;
 }
}